<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My GForce Now App</title>

  <!-- Bootstrap core JavaScript -->
  <link rel="stylesheet" type="text/css" href="../vendor/datatables.min.css" />
  <script type="text/javascript" src="../vendor/datatables.min.js"></script>
  <script src="../vendor/jquery/jquery.min.js"></script>

</head>

<body>

<style media="screen">

  html,
  body {
    height: 100%;
    font-family: geforcenow;
     !important
  }

  li {
    list-style-type: none;
    display: inline;
  }

  img {
    width: 100px;
    margin: 1px 1px 1px 1px;
  }

  .navbar-dark .navbar-brand {
    font-family: 'geforce-bold' !important;
    color: white;
    text-transform: uppercase;
  }

  li.nav-item {
    text-transform: uppercase;
    font-family: geforce-bold;
  }

  td.sorting_1 {
    font-weight: 600;
  }

  .p-5 {
    padding: 0.5rem !important;
  }

  .bg-dark {
    background-color: #76b900 !important;
  }

  thead {
    text-transform: uppercase;
    color: #76b900 !important;
    font-family: geforce-bold;
  }

  tfoot {
    display: table-header-group;
  }

  /* Other Classes for Page Styling */

  @font-face {
    font-family: "geforcenow";
    src: url("../fonts/geforce-light.ttf") format("truetype");
  }

  @font-face {
    font-family: "geforce-bold";
    src: url("../fonts/geforce-bold.ttf") format("truetype");
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
    text-transform: uppercase;
    background-color: #76b900;
  }

  .upcase {
    text-transform: uppercase;
  }

  .game {
    display:inline-block;
  }

  .transition {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }

</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <a class="navbar-brand" href="/">GeForce NOW Games List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/images">Images</a>
      </li>
  </div>
</nav>

<div class="container">
  <h1></h1>
</div>

<script type="text/javascript">

  $( document ).ready(function() {

    $.getJSON( "../data/gfnpc.json", function( data ) {

      var items = [];
      var price = 0;

      $.each( data, function( key, val ) {
        if(val.steamUrl != ""){

          var title = val.title;
          var str = val.steamUrl;
          var res = str.replace("https://store.steampowered.com/app/", "");
          var noImages = "<%= noImages %>";
          if (noImages.includes(res)){
            items.push( "<div class='game' id='" + val.id + "'>" + "<a target='_blank' href='"+ "/game/" + res +"'>" + "<img src='../logos/noimage.jpg'></img>" + "</a>" + "</div>" );
          } else {
            items.push( "<div class='game' id='" + val.id + "'>" + "<a target='_blank' href='"+ "/game/" + res +"'>" + "<img src='../images/"+ res +".jpg'></img>" + "</a>" + "</div>" );
          }

          $.getJSON("../json/"+ res +".json", function( steam ) {
            if (!(steam[res].data === undefined)) {
              if (!(steam[res].data.price_overview === undefined)) {
                price = price + steam[res].data.price_overview.initial;
                console.log(price);
              }
            }
          });
        } else {
          switch (val.publisher) {
            case "Ubisoft" :
              items.push( "<div class='game' id='" + val.id + "'>" + "<a target='_blank' href='https://www.ubisoft.com/en-us/games'>" +"<img src='../logos/ubisoft.jpg'></img>" + "</a>" + "</div>" );
            break;
            case "Epic Games, Inc." :
              items.push( "<div class='game' id='" + val.id + "'>" + "<a target='_blank' href='https://www.epicgames.com/store/fr/free-games'>" +"<img src='../logos/epicgames.jpg'></img>" + "</a>" + "</div>" );
            break;
            default :
              items.push( "<div class='game' id='" + val.id + "'>" + "<a target='_blank' href='https://www.nvidia.com/fr-fr/geforce-now/games'>" +"<img src='../logos/gforcenow.jpg'></img>" + "</a>" + "</div>" );
          }
        }

      });

      $('h1').append("Total number of games " + data.length);

      $(".container").append(items.join( "" ));

      $(".game").hover(
        function() {
          $("img", this).addClass('transition');
          $(".info", this).fadeIn()
        }, function() {
          $("img", this).removeClass('transition');
          $(".info", this).fadeOut()
        }
      )

    });
  });
</script>

</body>

</html>
