<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My GForce Now App</title>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>

</head>

<body>

<h1></h1>

<style media="screen">
  li {
    list-style-type: none;
    display: inline;
  }

  img {
    width: 100px;
  }
</style>

<script type="text/javascript">
  $( document ).ready(function() {

    $.getJSON( "gfnpc.json", function( data ) {

      var items = [];
      var price = 0;

      $.each( data, function( key, val ) {
        if(val.steamUrl != ""){

          var str = val.steamUrl;
          var res = str.replace("https://store.steampowered.com/app/", "");
          items.push( "<li id='" + val.id + "'>" + "<a target='_blank' href='"+ str +"'>" +"<img src='images/"+ res +".jpg'></img>" + "</a>" + "</li>" );

          $.getJSON("json/"+ res +".json", function( steam ) {
            if (!(steam[res].data === undefined)) {
              if (!(steam[res].data.price_overview === undefined)) {
                price = price + steam[res].data.price_overview.initial;
                console.log(price);
              }
            }
          });
        } else {
          //TODO
        }

      });

      $('h1').append("Total number of games "+ data.length);

      $( "<ul/>", {
        "class": "my-new-list",
        html: items.join( "" )
      }).appendTo( "body" );

    });
  });
</script>

</body>

</html>
